.vscode
build
devel
.catkin_workspace
src/scvp_core/cache/*
!src/scvp_core/cache/.gitkeep
src/arm_turntable_nbv_bt/data/*
!src/arm_turntable_nbv_bt/data/.gitkeep
src/pb_core/cache/*
!src/pb_core/cache/.gitkeep
src/pb_core/log/*
!src/pb_core/log/.gitkeep
src/gazebo_benchmark_env/env_startup/res_data/*
!src/gazebo_benchmark_env/env_startup/res_data/.gitkeep
src/gazebo_benchmark_env/env_startup/models/*
!src/gazebo_benchmark_env/env_startup/models/.gitkeep
src/scvp_core/sc-net/pt/*
!src/scvp_core/sc-net/pt/.gitkeep
src/scvp_core/nbv-net/data/**
!src/scvp_core/nbv-net/data/.gitkeep
src/scvp_core/scvp-net/data/**
!src/scvp_core/scvp-net/data/.gitkeep
*.pyc