<?xml version="1.0" ?>

<launch>

    <param name="robot_description" command="$(find xacro)/xacro '$(find elfin5_scanner_turntable_description)/urdf/elfin5_scanner_turntable.urdf.xacro'" />
      
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


    <include file="$(dirname)/elfin5_scanner_turntable_ros_controllers.launch" />

</launch>
