<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by
Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find gw_scanner_description)/urdf/gw_scanner.gazebo.xacro" />
  <xacro:macro name="gw_scanner" params="parent *origin use_gazebo_sim:=false">

    <xacro:if value="$(arg use_gazebo_sim)">
      <!-- Realsense Gazebo Plugin -->
      <xacro:gazebo_gw_scanner camera_name="gw_scanner" reference_link="gw_scanner_depth_frame" />
    </xacro:if>

    <!-- 连接 camera_orin 的 parent frame  -->
    <joint name="gw_scanner_joint" type="fixed">
      <parent link="${parent}" />
      <child link="gw_scanner_base_link" />
      <xacro:insert_block name="origin" />
    </joint>
    
    <link
      name="gw_scanner_base_link">
      <inertial>
        <origin
          xyz="0.00048902 -0.038928 -0.00015865"
          rpy="0 0 0" />
        <mass
          value="2.6858" />
        <inertia
          ixx="0.0046973"
          ixy="-2.4329E-06"
          ixz="6.548E-06"
          iyy="0.016988"
          iyz="-4.7832E-05"
          izz="0.014204" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://gw_scanner_description/meshes/gw_scanner_base_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.75294 0.75294 0.75294 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://gw_scanner_description/meshes/gw_scanner_base_link.STL" />
        </geometry>
      </collision>
    </link>
    <link name="gw_scanner_depth_frame" />
    <joint name="gw_scanner_depth_joint" type="fixed">
      <origin xyz="-0.085 -0.04 0.05" rpy="0 0 0.088" />
      <parent link="gw_scanner_base_link" />
      <child link="gw_scanner_depth_frame" />
    </joint>
  </xacro:macro>
</robot>