<?xml version="1.0" ?>

<launch>
    <include file="$(find elfin5_scanner_turntable_description)/launch/view_elfin5_scanner_turntable_upload.launch"/>

    <!-- Starting Joint state publisher node which will publish the joint values -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <!-- Starting robot state publish which will publish tf -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <!-- Launch visualization in rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find elfin5_scanner_turntable_description)/urdf.rviz" required="true" />
</launch>
